.header-section{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: transparent;
}
.header-innr{
	background: transparent;
	padding-top: 43px;
	padding-bottom: 43px;
}
.header-logo{
	float: left;
}
.header-logo a{
	display: inline-block;
	font-family: 'Playfair Display', serif;
	font-weight: 500;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.header-nav{
	float: right;
	padding-right: 25px;
	text-align: right;
	padding-top: 2px;
}
.header-nav > ul >li{
	list-style: none;
	float: left;
}
.header-nav > ul > li >a{
	text-decoration: none;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 17px;
	text-transform: uppercase;
	color: #fff;
	padding-left: 18px;
	padding-right: 18px;
	transition: 0.3s all ease-out 0s;
	-webkit-transition: 0.3s all ease-out 0s;
	-moz-transition: 0.3s all ease-out 0s;
}
.header-nav > ul > li:first-child a{
	padding-left: 0;
}
.header-nav > ul > li:last-child a{
	padding-right: 0;
}
.header-nav > ul > li >a:hover{
	background: transparent;
	color: #DFCE74;
	transition: 0.3s all ease-out 0s;
	-webkit-transition: 0.3s all ease-out 0s;
	-moz-transition: 0.3s all ease-out 0s;
}
.hdr-mobile-menu{
	max-width: 75%;
	width: 100%;
	float: right;
	padding-right: 25px;
	text-align: right;
	display: none;
}
.humbargar-menu{
	float: right;
	position: relative;
	background: transparent;
	height: 20px;
	width: 27px;
	cursor: pointer;
}
.humbargar-menu span:nth-child(1){
	content: "";
	position: absolute;
	height: 4px;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
}
.humbargar-menu span:nth-child(2){
	content: "";
	position: absolute;
	height: 4px;
	width: 100%;
	top: 8px;
	left: 0;
	right: 0;
	background: #fff;
}
.humbargar-menu span:nth-child(3){
	content: "";
	position: absolute;
	height: 4px;
	width: 100%;
	top: 16px;
	left: 0;
	right: 0;
	background: #fff;
} 
.js-humbargar-menu span:nth-child(1){
	content: "";
	position: absolute;
	height: 4px;
	width: 100%;
	top: 8px;
	left: 0;
	right: 0;
	background: #fff;
	transform: rotate(45deg);
}
.js-humbargar-menu span:nth-child(2){
	content: "";
	position: absolute;
	height: 4px;
	width: 100%;
	top: 8px;
	left: 0;
	right: 0;
	background: #fff;
	transform: rotate(-45deg);
}
.js-humbargar-menu span:nth-child(3){
	display: none;
	content: "";
	position: absolute;
	height: 4px;
	width: 100%;
	top: 16px;
	left: 0;
	right: 0;
	background: #fff;
}
.menu-nav{
	width: 120px;
	float: right;
	text-align: left;
	display: none;
}
.js-menu-nav {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    float: none;
    width: 100%;
    background: #000;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.menu-nav > ul >li{
	list-style: none;
}
.menu-nav > ul > li >a{
	text-decoration: none;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 17px;
	text-transform: uppercase;
	color: #fff;
	padding: 5px 25px 5px 25px;
	transition: 0.3s all ease-out 0s;
	-webkit-transition: 0.3s all ease-out 0s;
	-moz-transition: 0.3s all ease-out 0s;
}
.menu-nav > ul > li >a:hover{
	background: transparent;
	color: #DFCE74;
	transition: 0.3s all ease-out 0s;
	-webkit-transition: 0.3s all ease-out 0s;
	-moz-transition: 0.3s all ease-out 0s;
}
.header-section,
.header-innr{
	transition: 0.3s all ease-out 0s;
}
.hasSticky .header-section{
	position: fixed;
	background: #828282;
}
.hasSticky .header-innr {
    padding-top: 20px;
    padding-bottom: 20px;
	transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.hasSticky .header-section{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
}
.hasSticky .header-section .header-innr{
	padding: 20px 0;
}
.hasSticky .header-nav{
	padding-top: 3px;
}
@media(max-width: 767px){
	.header-innr{
		display: block;
	}
	.header-logo{
		max-width: 50%;
		width: 100%;
	}
	.header-nav{
		display: none;
	}
	.hdr-mobile-menu{
		display: block;
		max-width: 50%;
		width: 100%;
		padding-top: 6px;
	}
	.humbargar-menu{
	    position: fixed;
	    top: 18px;
	    right: 18px;
	    z-index: 2;
	}
}
@media(max-width: 575px){
	.header-logo a{
		font-size: 22px;
	}
}