.banner-section{
	display: block;
	position: relative;
	height: 100vh;
	-ms-display: flex;
	display: flex;
	display: flex;
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.banner-section .container{
    display: flex;
    align-items: center;
    justify-content: center;	
}
.banner-innr{
	padding: 234px 0 203px 0;
}
.banner-innr h1{
	color: #fff;
	font-size: 100px;
	line-height: 100px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 0;
}
.banner-innr .to-text > h2{
	color: #DFCE75;
	font-size: 80px;
	line-height: 70px;
	text-transform: none;
	font-weight: 400;
	font-family: 'Dancing Script', cursive;
	margin-bottom: 0;
	display: inline-block;
	margin-bottom: 5px;
	max-width: 100%;
	width: 100%;
}
.to-text{
	display: flex;
	text-align: center;
	align-items: center;
	max-width: 670px;
	width: 100%;
	margin: auto;
	position: relative;
}
.bgr-btm-lft{
    position: absolute;
    max-width: 39%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 6px;
    left: 0;
    border: 0.05px solid #dfce74;
}
.bgr-top-lft{
    position: absolute;
    max-width: 39%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0px;
    left: 0;
    border: 0.05px solid #dfce74;
}
.bgr-btm-rtt{
    position: absolute;
    max-width: 39%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 6px;
    right: 0;
    border: 0.05px solid #dfce74;
}
.bgr-top-rtt{
    position: absolute;
    max-width: 39%;
    width: 100%;
    top: 50%;
    margin-top: 0px;
    transform: translateY(-50%);
    right: 0;
    border: 0.05px solid #dfce74;
}
.about-us-hedding{
	padding-top: 70px;
	padding-bottom: 30px;
	text-align: center;
}
.about-us-hedding h2{
	line-height: 1.1;
    max-width: 580px;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
    color: #DFCE75;
    font-size: 72px;
    margin-bottom: 0;
    border-bottom: 1px solid #DFCE74;
    margin: auto;
}
.about-us-hedding h3{
	color: #333045;
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 1.7px;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	padding-top: 7px;
}
.about-us-hedding-dec{
	text-align: center;
	margin-bottom: 70px;
	padding: 0 25px;
}
.about-us-hedding-dec p{
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 0;
}
.about-us-innr{
	padding-right: 25px;
	display: flex;
	align-items: center;
	padding-bottom: 92px;
}
.about-us-img{
	display: flex;
	align-items: center;
	max-width: 67.2%;
	width: 100%;
	min-height: 450px;
}
.about-us-dec{
	max-width: 32.8%;
	width: 100%;
	padding-left: 25px;
	padding-top: 50px;
	padding-bottom: 50px;

}
.about-us-dec p{
	margin-bottom: 0;
}
.about-us-dec p:nth-child(1){
	padding-bottom: 25px;
}
.menu-section-three{
	background: url('../images/sec-three-img-001.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.menu-section-innr{
	padding-bottom: 50px;
}
.menu-section-hedding{
	padding-top: 75px;
	padding-bottom: 20px;
	text-align: center;
}
.menu-section-hedding h2{
    max-width: 700px;
    border-bottom: 1px solid #DFCE74;
    margin: auto;
}
.menu-section-hedding h3{
	color: #fff;
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	padding-top: 7px;
}

.menu-section-hedding-dec{
	text-align: center;
	margin-bottom: 90px;
	padding: 0 25px;
}

.menu-section-hedding-dec p{
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 0;
}
.menu-items{
}
.menu-items > ul >li{
	max-width: 50%;
	width: 100%;
	padding-bottom: 47px;
}
.menu-items > ul >li:nth-child(2n+1){
	float: left;
	padding-left: 22px;
	padding-right: 34px;
	clear: left;
}
.menu-items > ul >li:nth-child(2n+2){
	float: right;
	padding-left: 34px;
	padding-right: 22px;
}
.menu-items{

}
.items-name-prize{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.items-name{
	text-align: left;
}
.items-name p{
	color: #DFCE74;
	font-weight: 500;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}
.items-border{
	max-width: 276px;
	width: 100%;
	padding: 0 13px;
}
.items-border p{
	border-bottom: 1px solid #fff;
}
.items-prize{
	text-align: right;
}
.items-prize p{
	color: #DFCE74;
	font-weight: 500;
	font-family: 'Cabin', sans-serif;
	font-size: 30px;
}
.menu-items-dec p{
	color: #fff;
	margin-bottom: 0;
}
.gallery-section-four{
	padding-bottom: 85px;
}
.gallery-hedding{
	padding-top: 70px;
	padding-bottom:64px;
	text-align: center;
}
.gallery-hedding h2{
    max-width: 552px;
    border-bottom: 1px solid #DFCE74;
    margin: auto;
}
.gallery-hedding h3{
	color: #333045;
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 1.7px;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	padding-top: 7px;
}
.gallery-innr{
	padding: 0 25px;
}
.gallery-innr > ul >li{
	max-width: 25%;
	width: 100%;
	float: left;
	padding:0 7.5px 15px 7.5px;
}
.gallery-innr > ul >li:nth-child(4n+1){
	clear: left;
}
.contact-top-section{
	background: url('../images/sec-five-bg-img-001.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.contact-top-section-innr{

}
.contact-top-section-hedding{

}
.contact-top-section-hedding-dec{

}
.contact-top-section-hedding{
	padding-top: 67px;
	padding-bottom: 18px;
	text-align: center;
}
.contact-top-section-hedding h2{
    max-width: 488px;
    margin-bottom: 0;
    border-bottom: 1px solid #DFCE74;
    margin: auto;
}
.contact-top-section-hedding h3{
	color: #fff;
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	padding-top: 7px;
}
.contact-top-section-hedding-dec{
	text-align: center;
	margin-bottom: 60px;
	padding: 0 18px;
}
.contact-top-section-hedding-dec p{
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 0;
}
.contact-section{
	background: #F9F9F9;
	padding-bottom: 94px;
}
.contact-innr{
	padding-top: 90px;
	padding-bottom: 90px;
	padding-left: 18px;
	padding-right: 18px;
}
.contact-dec{
	float: left;
	max-width: 47.7%;
	width: 100%;
    padding-right: 88px;
}
.contact-form-wrap{
	float: left;
	max-width: 52.3%;
	width: 100%;
}
.contact-form{
	max-width: 100%;
	width: 100%;
}
.contact-form input,
.contact-form textarea,
.contact-form button{
	max-width: 100%;
	width: 100%; 
	border: none;
	color: #9A9A9A;
	outline: 0;
}
.contact-form input{
	min-height: 35px;
	border:1px solid #e8e8e8;
	background: #fff;
	padding-left: 15px;
}
.contact-form textarea{
	border:1px solid #e8e8e8;
	min-height: 128px;
	padding-left: 15px;
	padding-top: 10px;
}
.contact-form button{
	text-transform: uppercase;
    background: #DFCE74;
    color: #fff;
    padding: 7px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s all ease-out 0s;
	-webkit-transition: 0.3s all ease-out 0s;
	-moz-transition: 0.3s all ease-out 0s;
}
.contact-form button:hover{
	background: #bfb164;
	transition: 0.3s all ease-out 0s;
	-webkit-transition: 0.3s all ease-out 0s;
	-moz-transition: 0.3s all ease-out 0s;
}
.contact-form p{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	color: #9A9A9A;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
}
.contact-dec-hedding{

}
.contact-dec-hedding h6{
	color: #181627;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 35px;
	font-family: 'Oswald', sans-serif;
	border-bottom: 1px solid #9a9a9a;
	padding-bottom: 9px;
	margin-bottom: 0;
	margin-bottom: 30px;
}
.contact-dec-hedding p{
	margin-bottom: 0;
}
.eassy-contact{
	padding: 25px 0 65px 0;
}
.eassy-contact a{
	text-decoration: none;
	display: inline-block;
}
.eassy-contact-mail{
	display: flex;
	align-items: baseline;
}
.eassy-contact-mail a{
	color: #DFCE74;
	font-weight: 400;
	font-size: 35px;
	position: relative;
	padding-left: 15px;
	line-height: 1;
}
.eassy-contact-mail i{
    transform: rotate(90deg);
    font-size: 25px;
    color: #807979;

}
.eassy-contact-address{
	padding-top: 10px;
	display: flex;
	align-items: baseline;
}
.eassy-contact-address a{
	color: #181627;
	padding-left: 15px;
}
.eassy-contact-address i{
	font-size: 25px;
    color: #807979;
}
.open-hour-hedding{

}
.open-hour-hedding h6{
	color: #181627;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 35px;
	font-family: 'Oswald', sans-serif;
	border-bottom: 1px solid #9a9a9a;
	padding-bottom: 9px;
	margin-bottom: 0;
	margin-bottom: 30px;
}
.open-time{
	display: flex;
}
.open-hour-time p{
	font-weight: 600;
	padding-right: 15px;
	color: #5d5d5d;
	margin-bottom: 0;
}
.open-hour-time span{
	color: #9A9A9A;
}
.map-section iframe{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	max-width: 100%;
	width: 100%;
	min-height: 390px;
}
.footer-top-section{
	background: url('../images/ftr-top-bg-img-001.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.footer-top-section-innr{
	text-align: center;
	padding: 55px 25px;
}
.slider-items span{
	font-weight: 300;
	font-size: 22px;
	color: #d6c670;
}
.footer-top-section-hedding{
	text-align: center;
	display: flex;
	align-items: center;
	max-width: 560px;
	width: 100%;
	margin: auto;
}
.footer-top-bdr-lft{
    max-width: 17%;
    width: 100%;
    border: 0.05px solid #dfce74;
}
.footer-top-bdr-right{
    max-width: 17%;
    width: 100%;
    border: 0.05px solid #dfce74;
}
.footer-top-section-hedding h2{
	position: relative;
	display: inline-block;
    margin-bottom: 25px;
    margin: auto;
}
.footer-top-section-hedding-dec{

}
.footer-top-section-hedding-dec p{
	font-weight: 400;
	color: #fff;
	font-size: 22px;
	margin-bottom: 40px;
}
.footer-section{
	background: #0E0D16;
}
.footer-innr{
	text-align: center;
}
.footer-innr p{
	color: #fff;
	padding: 21px 0 15px 0;
	margin-bottom: 0;
}
@media(max-height: 650px){
	.banner-section{
		height: 650px;
	}
}
@media(max-width: 991px){
	.banner-innr h1{
		line-height: 85px!important;
		font-size: 80px!important;
	}
	h2{
		font-size: 70px!important;
	}
	h3{
		font-size: 55px!important;
	}
	.about-us-hedding-dec{
		margin-bottom: 20px;
	}
	.contact-dec{
		padding-right: 25px;
	}
}
@media(max-width: 767px){
	.menu-section-hedding-dec{
		margin-bottom: 50px;
	}
	.menu-items > ul >li{
		max-width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.items-name-prize{
		justify-content: center;
	}
	.menu-items > ul >li:nth-child(2n+2){
		padding: 0;
	}
	.menu-items > ul >li:nth-child(2n+1){
		padding: 0;
	}
	.items-name p,
	.items-prize p{
		margin-bottom: 0;
	}
	.menu-items-dec p{
		line-height: 1;
	}
	.about-us-innr{
		display: block;
		padding-right: 0;
		padding-bottom: 0;
	}
	.about-us-img{
		display: inline-block;
	    text-align: center;
	    max-width: 100%;
	    min-height: auto;
	}
	.about-us-dec{
		max-width: 100%;
		padding-left: 0;
		padding-top: 20px;
	}
	.gallery-section-four{
		padding-bottom: 40px;
	}
	.gallery-hedding {
	    padding-top: 50px;
	    padding-bottom: 44px;
	}
	.gallery-innr{
		padding: 0 0;
	}
	.contact-innr{
		padding-top: 20px;
	}
	.contact-dec{
	    max-width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	    text-align: center;
	}
}
@media(max-width: 575px){
	.banner-innr h1{
		font-size: 50px!important;
		line-height: 60px!important;
	}
	h2{
		font-size: 60px!important;
	}
	h3{
		font-size: 40px!important;
	}
	.contact-section{
		padding-bottom: 30px;
	}
	.gallery-innr > ul >li{
		max-width: 33.33%;
	}
	.gallery-innr > ul >li:nth-child(4n+1){
		clear: initial;
	}
	.gallery-innr > ul >li:nth-child(3n+1){
		clear: left;
	}
	.contact-form-wrap{
		max-width: 100%;
	}
}
@media(max-width: 479px){
	.contact-innr{
		padding-left: 0;
		padding-right: 0;
	}
}
@media(max-width: 359px){
	.open-time p{
		font-size: 14px;
	}
	.open-time span{
		font-size: 14px;		
	}
}