h1,h2,h3,h4,h5,h6{
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	line-height: 1.2;
}
h1{
	font-size: 100px;
}
h2{
	font-size: 72px;
	color: #DFCE75;
	font-weight: 400;
    font-family: 'Dancing Script', cursive;
    line-height: 1.1;
    margin-bottom: 0;
}
h3{
	font-size: 70px;
}
h4{
	font-size: ;
}
h5{
	font-size: ;
}
h6{
	font-size: ;
}